body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #090355;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.99'%3E%3Ccircle fill='%23090355' cx='50' cy='0' r='50'/%3E%3Cg fill='%23001566' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23002375' cx='50' cy='100' r='50'/%3E%3Cg fill='%23003083' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23003c90' cx='50' cy='200' r='50'/%3E%3Cg fill='%2300489b' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%230054a4' cx='50' cy='300' r='50'/%3E%3Cg fill='%230060ab' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23006caf' cx='50' cy='400' r='50'/%3E%3Cg fill='%230078b2' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%230084b3' cx='50' cy='500' r='50'/%3E%3Cg fill='%23008fb3' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23009bb0' cx='50' cy='600' r='50'/%3E%3Cg fill='%2300a6ad' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300b1a8' cx='50' cy='700' r='50'/%3E%3Cg fill='%2300bca3' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300c79d' cx='50' cy='800' r='50'/%3E%3Cg fill='%2300d196' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2337db90' cx='50' cy='900' r='50'/%3E%3Cg fill='%2367e58b' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%238BEE86' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-width: 800px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectimg {
  max-height: 350px;
}

.link-nav {
  color: #8e8d8a;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-family: "Oxygen", sans-serif;
}

.nav-links {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar {
  font-size: x-large;
  margin-top: 50px;
  margin-bottom: 100px;
  color: #8e8d8a;
  font-family: "Oxygen", sans-serif;
  top: 0;
  left: 0;
  z-index: 10;
  font-weight: bolder;
  text-align: right;
}

p {
  font-family: "Oxygen", sans-serif;
  color: whitesmoke;
  font-size: large;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: left;
}

h2 {
  font-family: "Comfortaa", cursive;
  font-size: xx-large;
  color: whitesmoke;
  margin-bottom: 40px;
}

a:hover {
  color: coral;
}

.description {
  text-align: left;
  margin-left: 300px;
  margin-right: 300px;
  line-height: 40px;
}

.mypic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  padding: 2px;
  margin-bottom: 100px;
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}

.mypic:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

#aboutme {
  font-family: "Oxygen", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  font-weight: bolder;
  margin-bottom: 30px;
  border-bottom: solid whitesmoke;
}

.project-name {
  margin-top: 100px;
  margin-bottom: 100px;
}

span {
  color: whitesmoke;
  font-family: "Comfortaa", cursive;
  font-size: large;
  font-weight: bold;
}

span:hover {
  color: coral;
  cursor: pointer;
}

.footer {
  margin-top: 40px;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: row;
}

.project-info {
  margin-left: 100px;
  margin-right: 100px;
}

#projects {
  display: flex;
  flex-direction: column;
  border-bottom: solid whitesmoke;
  margin-left: 100px;
  margin-right: 100px;
}

.proj-desc {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
}

#myinfo {
  margin-top: 150px;
}

.names {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-bottom: solid whitesmoke;
  margin-left: 100px;
  margin-right: 100px;
}

.namebox {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 100px;
  padding-top: 0px;
}

.name {
  font-family: "Oxygen", sans-serif;
  color: whitesmoke;
  font-size: 4rem;
  letter-spacing: 4px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.subname {
  font-family: "Oxygen", sans-serif;
  font-size: x-large;
  letter-spacing: 4px;
  color: whitesmoke;
  margin: 0;
}
.subname2 {
  font-family: "Oxygen", sans-serif;
  font-size: x-large;
  letter-spacing: 4px;
  color: whitesmoke;
  margin: 0;
}

.aboutmebox {
  margin-top: 150px;
  margin-bottom: 150px;
}

.resume-link-nav {
  color: #8e8d8a;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-family: "Oxygen", sans-serif;
  text-decoration: none;
}

#twitter-clone-image {
  border: 1px solid #8e8d8a;
}

h3 {
  font-size: 22px;
}

@media (max-width: 480px) {
  .App {
    min-width: 100vw;
    /* margin: auto; */
  }

  body {
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }

  .names {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border-bottom: solid darkgray;
    margin-left: 100px;
  }
  .mypic {
    border-radius: 50%;
    box-shadow: 0px 0px 100px -30px rgba(70, 70, 70, 0.701);
    /* max-height: 14rem; */
    grid-area: 1 / 1 / 2 / 2;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 35px;
  }

  .description {
    text-align: left;
    line-height: 40px;
    display: contents;
  }

  .project-info {
    margin-left: 10%;
    margin-right: 10%;
  }

  .proj-desc {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #aboutme {
    display: flex;
  }

  p {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
  }

  span {
    font-size: 30px;
  }

  h3 {
    font-size: 30px;
  }

  .project-demo {
    margin-top: 40px;
  }
}
