body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #660064;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23660064'/%3E%3Cstop offset='1' stop-color='%232F009C'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF7700' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23FF7700' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%238B00C7' stroke-width='1.6' stroke-miterlimit='10' stroke-opacity='.3'%3E%3Crect x='12.5' y='12.5' width='975' height='975'/%3E%3Crect x='25' y='25' width='950' height='950'/%3E%3Crect x='37.5' y='37.5' width='925' height='925'/%3E%3Crect x='50' y='50' width='900' height='900'/%3E%3Crect x='62.5' y='62.5' width='875' height='875'/%3E%3Crect x='75' y='75' width='850' height='850'/%3E%3Crect x='87.5' y='87.5' width='825' height='825'/%3E%3Crect x='100' y='100' width='800' height='800'/%3E%3Crect x='112.5' y='112.5' width='775' height='775'/%3E%3Crect x='125' y='125' width='750' height='750'/%3E%3Crect x='137.5' y='137.5' width='725' height='725'/%3E%3Crect x='150' y='150' width='700' height='700'/%3E%3Crect x='162.5' y='162.5' width='675' height='675'/%3E%3Crect x='175' y='175' width='650' height='650'/%3E%3Crect x='187.5' y='187.5' width='625' height='625'/%3E%3Crect x='200' y='200' width='600' height='600'/%3E%3Crect x='212.5' y='212.5' width='575' height='575'/%3E%3Crect x='225' y='225' width='550' height='550'/%3E%3Crect x='237.5' y='237.5' width='525' height='525'/%3E%3Crect x='250' y='250' width='500' height='500'/%3E%3Crect x='262.5' y='262.5' width='475' height='475'/%3E%3Crect x='275' y='275' width='450' height='450'/%3E%3Crect x='287.5' y='287.5' width='425' height='425'/%3E%3Crect x='300' y='300' width='400' height='400'/%3E%3Crect x='312.5' y='312.5' width='375' height='375'/%3E%3Crect x='325' y='325' width='350' height='350'/%3E%3Crect x='337.5' y='337.5' width='325' height='325'/%3E%3Crect x='350' y='350' width='300' height='300'/%3E%3Crect x='362.5' y='362.5' width='275' height='275'/%3E%3Crect x='375' y='375' width='250' height='250'/%3E%3Crect x='387.5' y='387.5' width='225' height='225'/%3E%3Crect x='400' y='400' width='200' height='200'/%3E%3Crect x='412.5' y='412.5' width='175' height='175'/%3E%3Crect x='425' y='425' width='150' height='150'/%3E%3Crect x='437.5' y='437.5' width='125' height='125'/%3E%3Crect x='450' y='450' width='100' height='100'/%3E%3Crect x='462.5' y='462.5' width='75' height='75'/%3E%3Crect x='475' y='475' width='50' height='50'/%3E%3Crect x='487.5' y='487.5' width='25' height='25'/%3E%3C/g%3E%3Crect fill-opacity='.3' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-width: 800px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectimg {
  max-height: 350px;
}

.link-nav {
  color: lightgray;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-family: "Oxygen", sans-serif;
}

.nav-links {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar {
  font-size: x-large;
  margin-top: 50px;
  margin-bottom: 100px;
  color: #8e8d8a;
  font-family: "Oxygen", sans-serif;
  top: 0;
  left: 0;
  z-index: 10;
  font-weight: bolder;
  text-align: right;
}

p {
  font-family: "Oxygen", sans-serif;
  color: whitesmoke;
  font-size: large;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: left;
}

h2 {
  font-family: "Comfortaa", cursive;
  font-size: xx-large;
  color: whitesmoke;
  margin-bottom: 40px;
}

a:hover {
  color: coral;
}

.description {
  text-align: left;
  margin-left: 300px;
  margin-right: 300px;
  line-height: 40px;
}

.mypic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  padding: 2px;
  margin-bottom: 100px;
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}

.mypic:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

#aboutme {
  font-family: "Oxygen", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  font-weight: bolder;
  margin-bottom: 30px;
  border-bottom: solid whitesmoke;
}

.project-name {
  margin-top: 100px;
  margin-bottom: 100px;
}

span {
  color: whitesmoke;
  font-family: "Comfortaa", cursive;
  font-size: large;
  font-weight: bold;
}

span:hover {
  color: coral;
  cursor: pointer;
}

.footer {
  margin-top: 40px;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: row;
}

.project-info {
  margin-left: 100px;
  margin-right: 100px;
}

#projects {
  display: flex;
  flex-direction: column;
  border-bottom: solid whitesmoke;
  margin-left: 100px;
  margin-right: 100px;
}

.proj-desc {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
}

#myinfo {
  margin-top: 150px;
}

.names {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-bottom: solid whitesmoke;
  margin-left: 100px;
  margin-right: 100px;
}

.namebox {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 100px;
  padding-top: 0px;
}

.name {
  font-family: "Oxygen", sans-serif;
  color: whitesmoke;
  font-size: 4rem;
  letter-spacing: 4px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.subname {
  font-family: "Oxygen", sans-serif;
  font-size: x-large;
  letter-spacing: 4px;
  color: whitesmoke;
  margin: 0;
}
.subname2 {
  font-family: "Oxygen", sans-serif;
  font-size: x-large;
  letter-spacing: 4px;
  color: whitesmoke;
  margin: 0;
}

.aboutmebox {
  margin-top: 150px;
  margin-bottom: 150px;
}

.resume-link-nav {
  color: lightgray;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-family: "Oxygen", sans-serif;
  text-decoration: none;
  padding: 5px;
  border: 2px solid coral;
}

#twitter-clone-image {
  border: 1px solid #8e8d8a;
}

h3 {
  font-size: 22px;
}

@media (max-width: 480px) {
  .App {
    min-width: 100vw;
    /* margin: auto; */
  }

  body {
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }

  .names {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border-bottom: solid darkgray;
    margin-left: 100px;
  }
  .mypic {
    border-radius: 50%;
    box-shadow: 0px 0px 100px -30px rgba(70, 70, 70, 0.701);
    /* max-height: 14rem; */
    grid-area: 1 / 1 / 2 / 2;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 35px;
  }

  .description {
    text-align: left;
    line-height: 40px;
    display: contents;
  }

  .project-info {
    margin-left: 10%;
    margin-right: 10%;
  }

  .proj-desc {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #aboutme {
    display: flex;
  }

  p {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
  }

  span {
    font-size: 30px;
  }

  h3 {
    font-size: 30px;
  }

  .project-demo {
    margin-top: 40px;
  }
}
